<div class="h-full flex flex-col">
  <%= render partial: 'shared/header_bar', locals: { url: categories_path, title: 'NEW CATEGORY' }%>

  <%= form_with model: Category.new, url: categories_path, method: :post, local: true, html: { class: 'flex flex-col justify-between h-full'} do |f| %>
    <div>
      <%= f.text_field :name, placeholder: 'Name', class: 'w-full p-2' %>
      <%= f.text_field :icon, placeholder: 'Icon Url', class: 'w-full p-2'  %>
    </div>
    <div class="bg-[#5fb523] text-white py-2 text-center flex">
      <%= f.submit 'SAVE' , class: 'border border-solid border-white mx-2 py-2 w-full hover:text-amber-300'%>
    </div>
  <% end %>

</div>