<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", async: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="flex justify-center items-center bg-[#3778c2] h-screen">
      <div class="w-80 h-[600px] border rounded-lg shadow-2xl bg-zinc-500 px-2 py-4">
        <div class="border rounded-lg h-full overflow-auto px-1 py-3 bg-white">
          <%= yield %>
        </div>
      </>
    </div>
  </body>
</html>
